@import "bootstrap";
@import "font-awesome";
@import 'ember-power-select/themes/bootstrap';
@import "ember-power-select";
@import "pod-styles.scss";

.container {
  margin-top: 60px;
}

.dl-horizontal {
  dt {
    width: 300px;
  }
  dd {
    margin-left: 320px;
  }
}

.leaflet-container {
  height: 800px;
}

.service-schedule-chart-svg {
  width: 100%;
  height: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.feed-version-iframe {
  width: 100%;
  height: 400px;
}
