@import "bootstrap";
@import "bower_components/font-awesome/scss/font-awesome";
@import 'ember-power-select/themes/bootstrap';
@import "ember-power-select";
@import "pod-styles";

.container {
  margin-top: 60px;
}

.jsoneditor {
  height: 500px;
}
