@import "bootstrap";
@import "bower_components/font-awesome/scss/font-awesome";
@import 'ember-power-select/themes/bootstrap';
@import "ember-power-select";

.container {
  margin-top: 60px;
}

.dl-horizontal {
  dt {
    width: 300px;
  }
  dd {
    margin-left: 320px;
  }
}

.route-geometry-resolve-button {
  margin-left: 40%;
  margin-right: 40%;
  padding: 10px;
}

.issues-link {
  padding: 30px;
}

html, body, .ember-view, .has-leaflet-map {
  height: 100%;
}

@import "pod-styles.scss";
