{{#if showChangeset}}
  {{#modal-dialog title='Changeset' ok='saveChangeset' close='hideChangeset' okText='Apply Changeset'}}
    {{changeset-form changeset=model.changeset users=model.users }}
  {{/modal-dialog}}
{{/if}}

<div class="row">
  <div class="col-xs-6">
    <h2>Stations</h2>
  </div>
  <div class="col-xs-6 text-right">
    <button {{action "setBounds"}} class="btn btn-primary">Refresh</button>
    <button {{action "showChangeset"}} class="btn btn-primary">Changeset</button>
  </div>
</div>

{{stop-map stops=model.stops lat=lat lng=lng zoom=zoom bounds=bounds onChanges=(action 'showChangeset')}}
