{{stop-map model=model lat=lat lng=lng zoom=zoom updateView=(action "updateView")}}

<ul>
  {{#each model as |stop|}}
    <li>Stop: {{stop.id}}
      <ul>
        {{#each stop.stop_platforms as |stop_platform|}}
          <li>StopPlatform: {{stop_platform.id}}</li>
        {{/each}}
      </ul>
    </li>
  {{/each}}
</ul>
