<div class="list-group">
  {{#each model.issues as |issue|}}
    {{issue-button issue=issue issueClicked="issueClicked"}}
    {{issue-details classNames='issue-details' issue=issue}}
  {{/each}}
</div>
