<table class="table table-hover">
  <thead>
    <tr>
      <th>Issue Id</th>
      <th>Feed</th>
      <th>Time Created</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.issues as |issue|}}
      {{issue-table/issue-row route=route issue=issue}}
    {{/each}}
  </tbody>
</table>
