<h2>{{link-to 'Changesets' 'changesets'}} / Editing Changeset #{{model.changeset.id}}</h2>

{{changeset-form changeset=model.changeset users=model.users}}

{{#link-to 'changesets.show' model class="btn btn-default"}}Cancel{{/link-to}}
<input type="button" {{action 'update'}} value="Update" class="btn btn-primary pull-right">
