<h2>{{link-to 'Changesets' 'changesets'}} / Editing Changeset #{{model.id}}</h2>

<h3>Notes</h3>
<p>{{textarea value=model.notes cols=100 rows=10}}</p>

{{#link-to 'changesets.show' model}}Cancel{{/link-to}}
<input type="button" {{action 'update'}} value="Update" class="btn btn-primary">
