{{#each feeds as |feed|}}
  {{#link-to 'feeds.show' feed class="list-group-item" classBinding="feed.last_imported_at:list-group-item-success"}}
    <span class="badge">{{feed.feed_versions_count}}</span>
    <h4 class="list-group-item-heading">{{feed.onestop_id}}</h4>
    {{#if feed.last_imported_at}}
      <p class="list-group-item-text">Last imported at {{feed.last_imported_at}}</p>
    {{/if}}
  {{/link-to}}
{{/each}}
