<div class="row">
  <div class="col-md-9">
    <div class="form-group">
      <label>Issue Type</label>
      {{#power-select options=model.issueTypes placeholder="" searchField="display" selected=issue_type onchange=(action "typeChanged") allowClear=true as |issueType|}}
        {{#unless (eq issueType 'null')}}
          <b>{{issueType}}</b> ({{issue-type-desc issueType}})
        {{/unless}}
      {{/power-select}}
    </div>
    {{#issue-table model=model route="issues.feed-fetch.show"}}{{/issue-table}}
    {{pagination-controls route="issues.feed-fetch.index" hasPreviousPage=hasPreviousPage hasNextPage=hasNextPage previousOffset=previousOffset nextOffset=nextOffset perPage=per_page}}
  </div>
</div>
