<h3>View and resolve issues</h3>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div>
        <div class="panel panel-default">
          <div class="panel-body">{{#link-to "issues.feed-fetch"}}Feed Fetch{{/link-to}}</div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">{{#link-to "issues.route-geometry"}}Route Geometry{{/link-to}}</div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">{{#link-to "issues.station-hierarchy"}}Station Hierarchy{{/link-to}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
