<div class="jumbotron">
  <h3>View, Create, and Resolve Issues</h3>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        {{#link-to "issues" class="list-group-item active"}}Create{{/link-to}}
      </div>
      <div class="col-md-6">
        {{#link-to "issues.route-geometry" class="list-group-item active"}}Route Geometry{{/link-to}}
      </div>
    </div>
  </div>
</div>
