<h3>View, Create, and Resolve Issues</h3>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      {{#feeds-select-table feeds=model.feeds feedClicked="feedClicked" selectedFeed=selectedFeed}}{{/feeds-select-table}}
      {{pagination-controls route="issues" hasPreviousPage=hasPreviousPage hasNextPage=hasNextPage previousOffset=previousOffset nextOffset=nextOffset perPage=per_page}}
    </div>
    <div class="col-md-8">
      <p>Selected Feed: <b>{{selectedFeed}}</b></p>
      <div>
        <div class="panel panel-default">
          <div class="panel-body">{{#link-to "issues.new" selectedFeed}}Create New Issues{{/link-to}}</div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">{{#link-to "issues.feed-fetch" (query-params of_entity=selectedFeed)}}Feed Fetch{{/link-to}}</div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">{{#link-to "issues.route-geometry" (query-params feed_onestop_id=selectedFeed)}}Route Geometry{{/link-to}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
