<div class="panel-group">
  {{#each changeset.change_payloads as |changePayload|}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title pull-left">Change Payload</h4>
        <div class="btn-group pull-right">
          {{#unless changeset.applied }}
            {{#link-to 'changesets.change-payloads.edit' changeset changePayload class="btn btn-primary" }}Edit this payload{{/link-to}}
          {{/unless}}
        </div>
      </div>
      <div class="panel-body">
        <div class="panel-group">
          <dl class="dl-horizontal">
            <dt>Created</dt>
            <dd>{{changePayload.created_at}}</dd>
            <dt>Updated</dt>
            <dd>{{changePayload.updated_at}}</dd>
          </dl>
          {{json-editor json=changePayload.payload mode='view'}}
        </div>
      </div>
    </div>
    {{else}}
      <p>No change payloads</p>
  {{/each}}
</div>
