<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header">
    {{link-to 'Transitland Dispatcher' 'index' class="navbar-brand"}}
    <ul class="nav navbar-nav">
      {{#linkTo 'feeds' tagName='li' href=null}}
        {{#linkTo 'feeds'}}Feeds{{/linkTo}}
      {{/linkTo}}
      {{#linkTo 'changesets' tagName='li' href=null}}
        {{#linkTo 'changesets'}}Changesets{{/linkTo}}
      {{/linkTo}}
    </ul>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>

<nav class="navbar navbar-form navbar-fixed-bottom">
  <div class="form-group">
    {{auth-token-input}}
  </div>
</nav>
