<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-to-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{link-to 'Transitland Dispatcher' 'index' class="navbar-brand"}}
    </div>
    <div class="collapse navbar-collapse" id="navbar-to-collapse">
      <ul class="nav navbar-nav">
        {{#link-to 'index' tagName='li' href=null}}
          {{#link-to 'index'}}Activity{{/link-to}}
        {{/link-to}}
        {{#link-to 'feeds' tagName='li' href=null}}
          {{#link-to 'feeds'}}Feeds{{/link-to}}
        {{/link-to}}
        {{#link-to 'operators' tagName='li' href=null}}
          {{#link-to 'operators'}}Operators{{/link-to}}
        {{/link-to}}
        {{#link-to 'changesets' tagName='li' href=null}}
          {{#link-to 'changesets'}}Changesets{{/link-to}}
        {{/link-to}}
        {{#link-to 'users' tagName='li' href=null}}
          {{#link-to 'users'}}Users{{/link-to}}
        {{/link-to}}
        {{#link-to 'stations' tagName='li' href=null}}
          {{#link-to 'stations'}}Stations{{/link-to}}
        {{/link-to}}
        {{#link-to 'routingcheck' tagName='li' href=null}}
          {{#link-to 'routingcheck'}}Routing Check{{/link-to}}
        {{/link-to}}
        {{#link-to 'issues' tagName='li' href=null}}
          {{#link-to 'issues'}}Quality Issues{{/link-to}}
        {{/link-to}}
      </ul>
      {{current-user-menu}}
    </div>
  </div>
</nav>

<div class="container">
  {{#each flashMessages.queue as |flash|}}
    {{flash-message flash=flash}}
  {{/each}}

  {{outlet}}
</div>
