<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header">
    {{link-to 'Transitland Dispatcher' 'index' class="navbar-brand"}}
    <ul class="nav navbar-nav">
      {{#link-to 'feeds' tagName='li' href=null}}
        {{#link-to 'feeds'}}Feeds{{/link-to}}
      {{/link-to}}
      {{#link-to 'changesets' tagName='li' href=null}}
        {{#link-to 'changesets'}}Changesets{{/link-to}}
      {{/link-to}}
    </ul>
  </div>
  <div class="navbar-form navbar-right">
    <div class="form-group">
      {{auth-token-input}}
    </div>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>
