<h4 class="list-group-item-heading">{{activityUpdate.entity_type}} {{activityUpdate.entity_action}}</h4>

<p class="list-group-item-text">{{activityUpdate.note}}</p>

<p class="list-group-item-text"><em>{{moment-from-now activityUpdate.at_datetime}}</em></p>
