{{#marker-layer icon=markerStopIcon title=model.onestop_id onAdd="stopAdded" sequence=index location=model.coordinates}}
  <p>Stop: {{model.onestop_id}}</p>
  <p>Sequence: {{sequence}}</p>
  <p>Distance: <b>{{distance}}</b></p>
{{/marker-layer}}
