{{#marker-layer icon=markerStopIcon title=model.onestop_id onRemove=(action "editEntityRemoved") onAdd=(action "editEntityAdded") location=model.coordinates as |marker|}}
  {{#popup-layer}}
    <p>Stop: {{model.onestop_id}}</p>
    <p>Sequence: {{sequence}}</p>
    <p>Distance: <b>{{distance}}</b></p>
  {{/popup-layer}}
{{/marker-layer}}
