<form>
  <div class="form-group">
    Feed: <strong>{{feed_onestop_id}}</strong>
    {{!-- TODO: replace with a component to feed from an Ember Power Select drop-down --}}
  </div>
  <div class="form-group">
    File: {{feed-version-file-upload feed_onestop_id=feed_onestop_id}}
  </div>
</form>