<div class="page-header" style="padding: 10px;">
  <h3>{{#link-to "issues"}}Quality Issues{{/link-to}} / {{#link-to "issues.station-hierarchy.index"}}Station Hierarchy Quality Issues{{/link-to}}</h3>
</div>

{{outlet}}
