<div class="row">
  <div class="col-md-3">
    <h3>Issues</h3>
    {{issue-table model=model issueClicked='issueClicked'}}
    {{issue-details issue=issue}}
  </div>
  <div class="col-md-9">
    {{edit-map}}
  </div>
</div>
