<div class="row">
  <div class="col-md-6">
    <h2>{{link-to 'Feeds' 'feeds'}} / {{model.onestop_id}}</h2>
  </div>
  <div class="col-md-6 text-right">
    {{enqueue-feed-controls feed=model}}
  </div>
</div>

{{feed-versions-list feed=model}}
