<div class="panel-heading">
  <h4 class="panel-title" {{action 'toggleCollapse'}}>{{title}}</h4>
</div>
<div id="collapseOne" class="panel-collapse collapse">
  <div class="panel-body">
    <pre>{{body}}</pre>
  </div>
</div>
