{{#circle-marker-layer radius=5 title=model.onestop_id sequence=index location=model.coordinates}}
  <p>Stop: {{model.onestop_id}}</p>
  <p>Sequence: {{sequence}}</p>
  <p>Distance: <b>{{distance}}</b></p>
{{/circle-marker-layer}}
