<td>{{#link-to route issue.id}}{{issue.id}}{{/link-to}}</td>
<td>{{#link-to "feeds.show" issue.imported_from_feed_onestop_id}}{{issue.imported_from_feed_onestop_id}}{{/link-to}}</td>
<td>{{time-since-with-mouseover issue.created_at}}</td>
