{{#if session.isAuthenticated}}
  {{#if currentUser}}
    <li>{{#link-to 'users.show' currentUser.user.id}}{{currentUser.user.email}}{{/link-to}}</li>
  {{/if}}
  <li><a {{action "signOut"}}>Sign Out</a></li>
{{else}}
  <li>{{#link-to 'users.sign_in'}}Sign In{{/link-to}}</li>
{{/if}}