{{#polyline-decorator latlngs=model.coordinates patterns=model.patterns}}
  <p>{{model.onestop_id}}</p>
{{/polyline-decorator}}
{{#polyline-layer onAdd=rspAdded locations=model.coordinates}}
{{/polyline-layer}}
