<div class="form-group">
  <label for="name">Name</label>
  {{input id="name" value=user.name class="form-control"}}
</div>
<div class="form-group">
  <label for="email">E-mail</label>
  {{input id="email" value=user.email class="form-control"}}
</div>
<div class="form-group">
  <label for="affiliation">Affiliation</label>
  {{input id="affiliation" value=user.affiliation class="form-control"}}
</div>
<div class="form-group">
  <label>User Type</label>
  {{#power-select options=userTypes searchField="display" selected=user.user_type onchange=(action (mut user.user_type)) onfocus=(action "handleFocus") allowClear=true as |userType|}}
    {{underscored-string-to-title-case userType}}
  {{/power-select}}
</div>
