{{#if showChangeset}}
  {{#modal-dialog title='Changeset' ok='saveChangeset' close='hideChangeset' okText='Apply Changeset'}}
    {{changeset-form changeset=model.changeset users=model.users }}
  {{/modal-dialog}}
{{/if}}

{{#if applyMessage.show}}
  {{#changeset-apply-modal message=applyMessage.message newIssues=applyMessage.newIssues toggleApplyMessage='toggleApplyMessage'}}{{/changeset-apply-modal}}
{{/if}}

{{#if closeMessage.show}}
  {{#modal-dialog title='Closing Issue' ok='closeIssue' close='toggleCloseMessage' closeText='Cancel' okText='Ok'}}
    <p>{{closeMessage.message}}</p>
  {{/modal-dialog}}
{{/if}}

{{#if applyingSpinner}}
  {{#loading-spinner}}{{/loading-spinner}}
{{/if}}

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    {{#edit-buttons showChangeset="showChangeset" closeDialog="closeDialog"}}{{/edit-buttons}}
    {{#issue-table model=model issueClicked="issueClicked"}}{{/issue-table}}
  </div>
  <div class="col-md-3"></div>
</div>
