<div class="list-group">
{{#each model as |changeset|}}
  {{#link-to 'changesets.show' changeset class="list-group-item"}}
    {{#if changeset.applied}}
      <span class="badge">{{fa-icon "check"}}</span>
    {{/if}}
    <h4 class="list-group-item-heading">Changeset #{{changeset.id}}</h4>
    <p class="list-group-item-text">{{changeset.notes}}</p>
  {{/link-to}}
{{/each}}
</div>

{{#link-to 'changesets.new' class="btn btn-primary"}}New Changeset{{/link-to}}
