<div class="row has-leaflet-map">
  <div class="col-md-3">
    {{outlet 'issue-table'}}
  </div>
  <div class="col-md-9 has-leaflet-map">
    <div class="route-geometry-resolve-button">
      <button class="btn btn-primary">Resolve</button>
    </div>
    <div class="has-leaflet-map">
      {{#edit-map model=model}}{{/edit-map}}
    </div>
  </div>
</div>
