<div class="row has-leaflet-map">
  <div class="col-md-3">
    <div class="form-group">
      <label>Issue Type</label>
      {{#power-select options=model.issueTypes searchField="display" selected=issue_type onchange=(action "typeChanged") allowClear=true as |issueType|}}
        {{issueType}}
      {{/power-select}}
    </div>
    {{#issue-table model=model issueClicked="issueClicked"}}{{/issue-table}}
  </div>
  <div class="col-md-9 has-leaflet-map">
    <div class="route-geometry-resolve-button">
      <button class="btn btn-primary">Resolve</button>
      <button class="btn btn-primary">Close</button>
    </div>
    <div class="has-leaflet-map">
      {{#edit-map model=model}}{{/edit-map}}
    </div>
  </div>
</div>
