<table class="table table-hover">
  <thead>
    <tr>
      <th>sha1</th>
    </tr>
  </thead>
  <tbody>
    {{#each models as |model|}}
      <tr>
        <td>{{#link-to "feed-versions.show" model.id}}{{model.sha1}}{{/link-to}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
