<h1>New Changeset</h1>
<p>{{textarea value=model.notes cols=100 rows=10}}</p>
{{!-- <p>{{textarea value=model.payload cols=100 rows=10}}</p> --}}
{{json-editor json=model.payload mode='view'}}

{{#link-to 'changesets'}}Cancel{{/link-to}}
<input type="button" {{action 'create'}} value="Create" >
