{{#if showChangeset}}
  {{#modal-dialog title='Changeset' ok='saveChangeset' close='hideChangeset' okText='Apply Changeset'}}
    {{changeset-form changeset=model.changeset users=model.users }}
  {{/modal-dialog}}
{{/if}}

{{#if closeMessage.show}}
  {{#modal-dialog title='Closing Issue' ok='closeIssue' close='toggleCloseMessage' closeText='Cancel' okText='Ok'}}
    <p>{{closeMessage.message}}</p>
  {{/modal-dialog}}
{{/if}}

{{#if applyingSpinner}}
  {{#loading-spinner}}{{/loading-spinner}}
{{/if}}

<div class="row">
  <div class="col-md-4">
    {{#issue-table model=model issueClicked="issueClicked" showChangeset="showChangeset" closeDialog="closeDialog"}}{{/issue-table}}
  </div>
  <div class="col-md-8">
    <div>
      {{#edit-map model=model rspAdded="rspAdded" stopAdded="stopAdded" actionDrawEdited="actionDrawEdited"}}{{/edit-map}}
    </div>
  </div>
</div>
