{{#if showChangeset}}
  {{#modal-dialog title='Changeset' ok='saveChangeset' close='hideChangeset' okText='Apply Changeset'}}
    {{changeset-form changeset=model.changeset users=model.users }}
  {{/modal-dialog}}
{{/if}}

<div class="row has-leaflet-map">
  <div class="col-md-3">
    {{outlet 'issue-table'}}
  </div>
  <div class="col-md-9 has-leaflet-map">
    <div class="route-geometry-resolve-button">
      <button {{action "showChangeset"}} class="btn btn-primary">Resolve</button>
    </div>
    <div class="has-leaflet-map">
      {{#edit-map model=model rspAdded="rspAdded" stopAdded="stopAdded" actionDrawEdited="actionDrawEdited"}}{{/edit-map}}
    </div>
  </div>
</div>
